.appWrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-main);
}

.mainColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.appContent {
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
  background-color: transparent;
  color: inherit;
}